@import url("https://fonts.googleapis.com/css?family=Yantramanav:100");
body {
  background: #190a0f;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; }

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: 'Yantramanav', sans-serif; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: #f1f1f1; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

span {
  position: absolute;
  left: 50px;
  top: 50px; }

#ui {
  transform: rotateZ(-4deg); }
  #ui .text {
    position: absolute;
    font-size: 8rem;
    color: #fff;
    line-height: 8rem;
    font-family: 'Anton', sans-serif;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    letter-spacing: 1rem;
    overflow: hidden; }
    #ui .text:nth-child(1) {
      color: #6828f8;
      clip-path: polygon(-1% -3%, 7% -13%, 6% 51%, -2% 52%);
      filter: blur(7px); }
      #ui .text:nth-child(1) .text_inner1 {
        animation: vertical 1631ms 13ms ease-in-out infinite alternate; }
      #ui .text:nth-child(1) .text_inner2 {
        animation: horizontal 793ms 67ms ease-in-out infinite alternate; }
    #ui .text:nth-child(2) {
      color: #842879;
      clip-path: polygon(4% -5%, 15% -7%, 13% 53%, 3% 76%);
      filter: blur(-9px); }
      #ui .text:nth-child(2) .text_inner1 {
        animation: vertical 773ms 77ms ease-in-out infinite alternate; }
      #ui .text:nth-child(2) .text_inner2 {
        animation: horizontal 777ms 36ms ease-in-out infinite alternate; }
    #ui .text:nth-child(3) {
      color: #eb286f;
      clip-path: polygon(9% -2%, 20% -9%, 17% 53%, 9% 74%);
      filter: blur(-8px); }
      #ui .text:nth-child(3) .text_inner1 {
        animation: vertical 952ms 30ms ease-in-out infinite alternate; }
      #ui .text:nth-child(3) .text_inner2 {
        animation: horizontal 1273ms 6ms ease-in-out infinite alternate; }
    #ui .text:nth-child(4) {
      color: #ef2895;
      clip-path: polygon(13% -2%, 23% -13%, 22% 55%, 14% 58%);
      filter: blur(7px); }
      #ui .text:nth-child(4) .text_inner1 {
        animation: vertical 1250ms 25ms ease-in-out infinite alternate; }
      #ui .text:nth-child(4) .text_inner2 {
        animation: horizontal 1275ms 50ms ease-in-out infinite alternate; }
    #ui .text:nth-child(5) {
      color: #902873;
      clip-path: polygon(19% -4%, 27% -20%, 27% 54%, 19% 71%);
      filter: blur(0px); }
      #ui .text:nth-child(5) .text_inner1 {
        animation: vertical 871ms 14ms ease-in-out infinite alternate; }
      #ui .text:nth-child(5) .text_inner2 {
        animation: horizontal 1634ms 91ms ease-in-out infinite alternate; }
    #ui .text:nth-child(6) {
      color: #f828e3;
      clip-path: polygon(24% -4%, 31% -1%, 33% 51%, 23% 65%);
      filter: blur(2px); }
      #ui .text:nth-child(6) .text_inner1 {
        animation: vertical 1674ms 97ms ease-in-out infinite alternate; }
      #ui .text:nth-child(6) .text_inner2 {
        animation: horizontal 862ms 98ms ease-in-out infinite alternate; }
    #ui .text:nth-child(7) {
      color: #c4289f;
      clip-path: polygon(28% -1%, 36% -7%, 36% 52%, 28% 77%);
      filter: blur(-2px); }
      #ui .text:nth-child(7) .text_inner1 {
        animation: vertical 1684ms 77ms ease-in-out infinite alternate; }
      #ui .text:nth-child(7) .text_inner2 {
        animation: horizontal 1353ms 93ms ease-in-out infinite alternate; }
    #ui .text:nth-child(8) {
      color: #d32874;
      clip-path: polygon(34% -2%, 44% -17%, 41% 54%, 34% 57%);
      filter: blur(8px); }
      #ui .text:nth-child(8) .text_inner1 {
        animation: vertical 844ms 7ms ease-in-out infinite alternate; }
      #ui .text:nth-child(8) .text_inner2 {
        animation: horizontal 744ms 9ms ease-in-out infinite alternate; }
    #ui .text:nth-child(9) {
      color: #e32896;
      clip-path: polygon(39% -3%, 46% -30%, 50% 53%, 39% 61%);
      filter: blur(-2px); }
      #ui .text:nth-child(9) .text_inner1 {
        animation: vertical 1324ms 88ms ease-in-out infinite alternate; }
      #ui .text:nth-child(9) .text_inner2 {
        animation: horizontal 758ms 91ms ease-in-out infinite alternate; }
    #ui .text:nth-child(10) {
      color: #5f28ca;
      clip-path: polygon(43% -4%, 55% -9%, 52% 53%, 44% 57%);
      filter: blur(5px); }
      #ui .text:nth-child(10) .text_inner1 {
        animation: vertical 1282ms 34ms ease-in-out infinite alternate; }
      #ui .text:nth-child(10) .text_inner2 {
        animation: horizontal 1153ms 26ms ease-in-out infinite alternate; }
    #ui .text:nth-child(11) {
      color: #422882;
      clip-path: polygon(49% -2%, 56% -14%, 59% 52%, 49% 65%);
      filter: blur(10px); }
      #ui .text:nth-child(11) .text_inner1 {
        animation: vertical 711ms 58ms ease-in-out infinite alternate; }
      #ui .text:nth-child(11) .text_inner2 {
        animation: horizontal 1014ms 77ms ease-in-out infinite alternate; }
    #ui .text:nth-child(12) {
      color: #8b283d;
      clip-path: polygon(53% -4%, 64% -16%, 64% 52%, 53% 52%);
      filter: blur(3px); }
      #ui .text:nth-child(12) .text_inner1 {
        animation: vertical 1401ms 92ms ease-in-out infinite alternate; }
      #ui .text:nth-child(12) .text_inner2 {
        animation: horizontal 1291ms 3ms ease-in-out infinite alternate; }
    #ui .text:nth-child(13) {
      color: #8e2867;
      clip-path: polygon(58% -2%, 69% -29%, 67% 55%, 59% 71%);
      filter: blur(2px); }
      #ui .text:nth-child(13) .text_inner1 {
        animation: vertical 1061ms 12ms ease-in-out infinite alternate; }
      #ui .text:nth-child(13) .text_inner2 {
        animation: horizontal 880ms 38ms ease-in-out infinite alternate; }
    #ui .text:nth-child(14) {
      color: #96286d;
      clip-path: polygon(64% -3%, 74% -21%, 71% 54%, 64% 59%);
      filter: blur(5px); }
      #ui .text:nth-child(14) .text_inner1 {
        animation: vertical 1231ms 35ms ease-in-out infinite alternate; }
      #ui .text:nth-child(14) .text_inner2 {
        animation: horizontal 1314ms 31ms ease-in-out infinite alternate; }
    #ui .text:nth-child(15) {
      color: #5328fd;
      clip-path: polygon(69% -2%, 78% -9%, 76% 51%, 68% 64%);
      filter: blur(5px); }
      #ui .text:nth-child(15) .text_inner1 {
        animation: vertical 1457ms 43ms ease-in-out infinite alternate; }
      #ui .text:nth-child(15) .text_inner2 {
        animation: horizontal 1677ms 49ms ease-in-out infinite alternate; }
    #ui .text:nth-child(16) {
      color: #4528f4;
      clip-path: polygon(74% -4%, 84% -1%, 85% 54%, 74% 58%);
      filter: blur(9px); }
      #ui .text:nth-child(16) .text_inner1 {
        animation: vertical 1349ms 52ms ease-in-out infinite alternate; }
      #ui .text:nth-child(16) .text_inner2 {
        animation: horizontal 1140ms 85ms ease-in-out infinite alternate; }
    #ui .text:nth-child(17) {
      color: #ad2857;
      clip-path: polygon(78% -4%, 88% -19%, 86% 53%, 78% 72%);
      filter: blur(-1px); }
      #ui .text:nth-child(17) .text_inner1 {
        animation: vertical 1429ms 74ms ease-in-out infinite alternate; }
      #ui .text:nth-child(17) .text_inner2 {
        animation: horizontal 1407ms 63ms ease-in-out infinite alternate; }
    #ui .text:nth-child(18) {
      color: #6a288e;
      clip-path: polygon(83% -4%, 94% -21%, 94% 52%, 84% 61%);
      filter: blur(5px); }
      #ui .text:nth-child(18) .text_inner1 {
        animation: vertical 745ms 83ms ease-in-out infinite alternate; }
      #ui .text:nth-child(18) .text_inner2 {
        animation: horizontal 1411ms 88ms ease-in-out infinite alternate; }
    #ui .text:nth-child(19) {
      color: #832865;
      clip-path: polygon(89% -4%, 98% -27%, 99% 54%, 88% 74%);
      filter: blur(-5px); }
      #ui .text:nth-child(19) .text_inner1 {
        animation: vertical 742ms 46ms ease-in-out infinite alternate; }
      #ui .text:nth-child(19) .text_inner2 {
        animation: horizontal 1579ms 22ms ease-in-out infinite alternate; }
    #ui .text:nth-child(20) {
      color: #c9285b;
      clip-path: polygon(93% -4%, 101% -2%, 102% 51%, 94% 79%);
      filter: blur(-1px); }
      #ui .text:nth-child(20) .text_inner1 {
        animation: vertical 1408ms 62ms ease-in-out infinite alternate; }
      #ui .text:nth-child(20) .text_inner2 {
        animation: horizontal 1661ms 5ms ease-in-out infinite alternate; }
    #ui .text:nth-child(21) {
      color: #93284b;
      clip-path: polygon(-1% 48%, 8% 25%, 7% 105%, -1% 112%);
      filter: blur(-4px); }
      #ui .text:nth-child(21) .text_inner1 {
        animation: vertical 1313ms 15ms ease-in-out infinite alternate; }
      #ui .text:nth-child(21) .text_inner2 {
        animation: horizontal 1588ms 2ms ease-in-out infinite alternate; }
    #ui .text:nth-child(22) {
      color: #822839;
      clip-path: polygon(4% 48%, 13% 33%, 14% 104%, 3% 127%);
      filter: blur(-1px); }
      #ui .text:nth-child(22) .text_inner1 {
        animation: vertical 1160ms 38ms ease-in-out infinite alternate; }
      #ui .text:nth-child(22) .text_inner2 {
        animation: horizontal 780ms 29ms ease-in-out infinite alternate; }
    #ui .text:nth-child(23) {
      color: #5a28bd;
      clip-path: polygon(9% 46%, 17% 25%, 16% 104%, 8% 109%);
      filter: blur(8px); }
      #ui .text:nth-child(23) .text_inner1 {
        animation: vertical 1569ms 52ms ease-in-out infinite alternate; }
      #ui .text:nth-child(23) .text_inner2 {
        animation: horizontal 956ms 76ms ease-in-out infinite alternate; }
    #ui .text:nth-child(24) {
      color: #8b28f3;
      clip-path: polygon(13% 45%, 24% 35%, 25% 102%, 13% 123%);
      filter: blur(3px); }
      #ui .text:nth-child(24) .text_inner1 {
        animation: vertical 1030ms 73ms ease-in-out infinite alternate; }
      #ui .text:nth-child(24) .text_inner2 {
        animation: horizontal 1607ms 27ms ease-in-out infinite alternate; }
    #ui .text:nth-child(25) {
      color: #8f28da;
      clip-path: polygon(18% 45%, 30% 26%, 28% 105%, 19% 124%);
      filter: blur(2px); }
      #ui .text:nth-child(25) .text_inner1 {
        animation: vertical 803ms 75ms ease-in-out infinite alternate; }
      #ui .text:nth-child(25) .text_inner2 {
        animation: horizontal 885ms 64ms ease-in-out infinite alternate; }
    #ui .text:nth-child(26) {
      color: #7f2879;
      clip-path: polygon(24% 46%, 32% 40%, 31% 103%, 23% 129%);
      filter: blur(3px); }
      #ui .text:nth-child(26) .text_inner1 {
        animation: vertical 1100ms 85ms ease-in-out infinite alternate; }
      #ui .text:nth-child(26) .text_inner2 {
        animation: horizontal 1019ms 76ms ease-in-out infinite alternate; }
    #ui .text:nth-child(27) {
      color: #5e28cc;
      clip-path: polygon(29% 49%, 39% 47%, 36% 101%, 28% 113%);
      filter: blur(-3px); }
      #ui .text:nth-child(27) .text_inner1 {
        animation: vertical 703ms 22ms ease-in-out infinite alternate; }
      #ui .text:nth-child(27) .text_inner2 {
        animation: horizontal 1682ms 4ms ease-in-out infinite alternate; }
    #ui .text:nth-child(28) {
      color: #9c2854;
      clip-path: polygon(33% 47%, 43% 20%, 43% 101%, 33% 109%);
      filter: blur(5px); }
      #ui .text:nth-child(28) .text_inner1 {
        animation: vertical 1063ms 8ms ease-in-out infinite alternate; }
      #ui .text:nth-child(28) .text_inner2 {
        animation: horizontal 1522ms 11ms ease-in-out infinite alternate; }
    #ui .text:nth-child(29) {
      color: #94285a;
      clip-path: polygon(38% 47%, 47% 22%, 50% 104%, 38% 129%);
      filter: blur(-9px); }
      #ui .text:nth-child(29) .text_inner1 {
        animation: vertical 869ms 52ms ease-in-out infinite alternate; }
      #ui .text:nth-child(29) .text_inner2 {
        animation: horizontal 792ms 31ms ease-in-out infinite alternate; }
    #ui .text:nth-child(30) {
      color: #b828f3;
      clip-path: polygon(44% 45%, 51% 28%, 51% 102%, 43% 118%);
      filter: blur(7px); }
      #ui .text:nth-child(30) .text_inner1 {
        animation: vertical 1691ms 20ms ease-in-out infinite alternate; }
      #ui .text:nth-child(30) .text_inner2 {
        animation: horizontal 881ms 67ms ease-in-out infinite alternate; }
    #ui .text:nth-child(31) {
      color: #5b2876;
      clip-path: polygon(49% 49%, 57% 21%, 58% 101%, 48% 115%);
      filter: blur(9px); }
      #ui .text:nth-child(31) .text_inner1 {
        animation: vertical 1166ms 95ms ease-in-out infinite alternate; }
      #ui .text:nth-child(31) .text_inner2 {
        animation: horizontal 1176ms 66ms ease-in-out infinite alternate; }
    #ui .text:nth-child(32) {
      color: #f528f4;
      clip-path: polygon(53% 46%, 63% 29%, 61% 103%, 53% 101%);
      filter: blur(-1px); }
      #ui .text:nth-child(32) .text_inner1 {
        animation: vertical 987ms 53ms ease-in-out infinite alternate; }
      #ui .text:nth-child(32) .text_inner2 {
        animation: horizontal 1466ms 7ms ease-in-out infinite alternate; }
    #ui .text:nth-child(33) {
      color: #85288a;
      clip-path: polygon(58% 47%, 68% 39%, 69% 105%, 59% 110%);
      filter: blur(6px); }
      #ui .text:nth-child(33) .text_inner1 {
        animation: vertical 1211ms 1ms ease-in-out infinite alternate; }
      #ui .text:nth-child(33) .text_inner2 {
        animation: horizontal 929ms 55ms ease-in-out infinite alternate; }
    #ui .text:nth-child(34) {
      color: #8728ff;
      clip-path: polygon(64% 47%, 72% 27%, 75% 105%, 64% 124%);
      filter: blur(0px); }
      #ui .text:nth-child(34) .text_inner1 {
        animation: vertical 984ms 83ms ease-in-out infinite alternate; }
      #ui .text:nth-child(34) .text_inner2 {
        animation: horizontal 1002ms 20ms ease-in-out infinite alternate; }
    #ui .text:nth-child(35) {
      color: #552869;
      clip-path: polygon(68% 48%, 80% 39%, 78% 103%, 69% 122%);
      filter: blur(-6px); }
      #ui .text:nth-child(35) .text_inner1 {
        animation: vertical 1131ms 26ms ease-in-out infinite alternate; }
      #ui .text:nth-child(35) .text_inner2 {
        animation: horizontal 1577ms 59ms ease-in-out infinite alternate; }
    #ui .text:nth-child(36) {
      color: #7728ca;
      clip-path: polygon(73% 46%, 84% 24%, 81% 105%, 74% 103%);
      filter: blur(7px); }
      #ui .text:nth-child(36) .text_inner1 {
        animation: vertical 1204ms 54ms ease-in-out infinite alternate; }
      #ui .text:nth-child(36) .text_inner2 {
        animation: horizontal 947ms 19ms ease-in-out infinite alternate; }
    #ui .text:nth-child(37) {
      color: #9628f0;
      clip-path: polygon(79% 46%, 86% 29%, 88% 105%, 79% 114%);
      filter: blur(-4px); }
      #ui .text:nth-child(37) .text_inner1 {
        animation: vertical 977ms 37ms ease-in-out infinite alternate; }
      #ui .text:nth-child(37) .text_inner2 {
        animation: horizontal 1233ms 44ms ease-in-out infinite alternate; }
    #ui .text:nth-child(38) {
      color: #662843;
      clip-path: polygon(84% 48%, 94% 28%, 93% 104%, 84% 108%);
      filter: blur(10px); }
      #ui .text:nth-child(38) .text_inner1 {
        animation: vertical 1416ms 15ms ease-in-out infinite alternate; }
      #ui .text:nth-child(38) .text_inner2 {
        animation: horizontal 1409ms 96ms ease-in-out infinite alternate; }
    #ui .text:nth-child(39) {
      color: #702843;
      clip-path: polygon(88% 45%, 97% 33%, 100% 104%, 89% 115%);
      filter: blur(-4px); }
      #ui .text:nth-child(39) .text_inner1 {
        animation: vertical 1570ms 68ms ease-in-out infinite alternate; }
      #ui .text:nth-child(39) .text_inner2 {
        animation: horizontal 1233ms 84ms ease-in-out infinite alternate; }
    #ui .text:nth-child(40) {
      color: #df28ee;
      clip-path: polygon(94% 49%, 104% 40%, 105% 104%, 94% 104%);
      filter: blur(7px); }
      #ui .text:nth-child(40) .text_inner1 {
        animation: vertical 796ms 15ms ease-in-out infinite alternate; }
      #ui .text:nth-child(40) .text_inner2 {
        animation: horizontal 1076ms 79ms ease-in-out infinite alternate; }
    #ui .text:nth-child(41) {
      color: #682842;
      clip-path: polygon(-2% 99%, 6% 74%, 6% 153%, -1% 173%);
      filter: blur(6px); }
      #ui .text:nth-child(41) .text_inner1 {
        animation: vertical 1568ms 94ms ease-in-out infinite alternate; }
      #ui .text:nth-child(41) .text_inner2 {
        animation: horizontal 1493ms 99ms ease-in-out infinite alternate; }

@keyframes horizontal {
  0% {
    transform: translateX(6px); }
  100% {
    transform: translateX(-6px); } }

@keyframes vertical {
  0% {
    transform: translateY(3px); }
  100% {
    transform: translateY(-3px); } }
