@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');

html,body{
  margin: 0;
  padding: 0;
  font-family: 'Special Elite', cursive;
  color: white;
  background-color: black;
  /* overflow: hidden; */
}


.container{
  float: right;
  display: block;
  width: 500px;
  position: relative;
  top: 50px;
  right: 10%;
}

.content{
   text-indent: 50px;
   letter-spacing: .7px;
   word-spacing: 4px;
   line-height: 26px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  font-family: 'Yantramanav', sans-serif;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
span{
position: relative;
left: 50px;
top:50px;
}