* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
  font-size: 35px;
}

.row {
  display: -webkit-flex;
  display: flex;
}

.column {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px;
  height: 350px;
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
  height: 115px;
}


@media (max-width: 711px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
