@import url('https://fonts.googleapis.com/css?family=Yantramanav:100');

$fontSize: 8rem;

body {
  background: rgba(25, 10, 15, 1);
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
		font-family: 'Yantramanav', sans-serif;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
span{
	position: absolute;
	left: 50px;
	top:50px;
}

#ui {
  transform: rotateZ(-4deg);
  .text {
    position: absolute;
    font-size: $fontSize;
    color: #fff;
    line-height: $fontSize;
    font-family: 'Anton', sans-serif;
    transform: translate(-50%, -50%);
    mix-blend-mode: screen;
    letter-spacing: 1rem;
    overflow: hidden;

  @for $i from 0 through 40 {
        $key: $i + 1;
        &:nth-child(#{$key}) {
        $row: floor($i / 20);
        color: rgba(random(200) + 55, 40, random(200) + 55, 1);
        clip-path: polygon(
          $i * 5% - $row * 100% - random(2) $row * 50% - random(5),
          $key * 5% - $row * 100% + random(5) $row * 50% - random(30),
          $key * 5% - $row * 100% + random(5) $row * 50% + 50% + random(5),
          $i * 5% - $row * 100% - random(2) $row * 50% + 50% + random(30)
        );
        filter: blur(#{random(20) - 10}px);
        .text_inner1 {
          animation: vertical random(1000) + 700ms random(100) + 0ms ease-in-out infinite alternate;
        }
        .text_inner2 {
          animation: horizontal random(1000) + 700ms random(100) + 0ms ease-in-out infinite alternate;
        }
      }
    }
  }
}

@keyframes horizontal {
  0% {
    transform: translateX(6px);
  }
  100% {
    transform: translateX(-6px);
  }
}
@keyframes vertical {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(-3px);
  }
}
